---
layout: default
title: Everything you need to know about Bitcoin mining
toc:
  hwc: Mining Hardware Comparison
  wibm: What is Bitcoin Mining?
  what-is-blockchain: What is the Blockchain?
  wipow: What is Proof of Work?
  md: What is Bitcoin Mining Difficulty?
  tcdp: The Computationally-Difficult Problem
  difficulty: The Bitcoin Network Difficulty Metric
  bw: The Block Reward
---

<center><iframe width="700" height="394" src="https://www.youtube.com/embed/GmOzih6I1zs" frameborder="0" allowfullscreen></iframe></center>
<p><center><h2><a href="/getting-started/">GETTING STARTED</a> | <a href="/bitcoin-mining-hardware/">BITCOIN MINING HARDWARE</a></h2></center>

<table style="undefined;table-layout: fixed; width: 700px vertical-align="center">
<colgroup>
<col style="width: 120px">
<col style="width: 580px">
</colgroup>
  <tr>
    <td><img src="/images/icons/icon-big-bitcoinfrom.png" alt="where do bitcoins come from" float="center" vertical-align="center" width="auto" height="auto"/></th>
    <td><h2>How Bitcoin Mining Works</h2>
    <p>Where do bitcoins come from? With paper money, a government decides when to print and distribute money. Bitcoin doesn't have a central government.
    <p>With Bitcoin, miners use <a href="/bitcoin-mining-software/">special software</a> to solve math problems and are issued a certain number of bitcoins in exchange. This provides a smart way to issue the currency and also creates an incentive for more people to mine.
    </th>
  </tr>
  <tr>
    <td><img src="/images/icons/icon-big-secure.png" alt="bitcoin is secure" float="left" width="auto" height="auto"/></td>
    <td><h2>Bitcoin is Secure</h2>
    <p>Bitcoin miners help keep the Bitcoin network secure by approving transaction. Mining is an important and integral part of Bitcoin that ensures fairness while keeping the Bitcoin network stable, safe and secure.</td>
  </tr>
  <tr>
    <td><img src="/images/icons/icon-big-links.png" alt="bitcoin links" align="left" width="auto" height="auto"/></td>
    <td><h2>Links</h2>
    <p><ul><li><a target="_blank" href="https://www.weusecoins.com/">We Use Coins</a> - Learn all about crypto-currency.<br/></li>
<li><a target="_blank" href="https://www.reddit.com/r/Bitcoin/">Bitcoin News</a> - Where the Bitcoin community gets news.<br/></li>
<li><a href="http://www.bitcoin.kn">Bitcoin Knowledge Podcast</a> - Interviews with the top people in the Bitcoin world</li>
</ul>
    </td>
  </tr>
</table>
<hr id="hwc" style="width: 100%; margin: 20px 0; color: #eee;" />
{% include bitcoin-mining-hardware-comparison.html %}
<hr style="width: 100%; margin: 20px 0; color: #eee;" />
<h2 id="wibm">What is Bitcoin Mining?</h2>
<center><img src="/images/what-is-bitcoin-mining.png" width="700" height="auto">
<a href="/images/what-is-bitcoin-mining-high-resolution.png" target="_blank">Visualize and Download High-Resolution Infographic</a></center>

{% include page-toc.html %}

<p>Bitcoin mining is the process of adding transaction records to Bitcoin's public ledger of past transactions or <b>blockchain</b>. This ledger of past transactions is called the block chain as it is a chain of blocks. The block chain serves to confirm transactions to the rest of the network as having taken place.
<p>Bitcoin nodes use the <b>block chain</b> to distinguish legitimate Bitcoin transactions from attempts to re-spend coins that have already been spent elsewhere.
<h3 id="what-is-blockchain">What is the Blockchain?</h3>
<center><iframe width="700" height="394" src="https://www.youtube.com/embed/YIVAluSL9SU" frameborder="0" allowfullscreen></iframe></center>
<p><a href="http://bitcoinminer.com/">Bitcoin mining</a> is intentionally designed to be resource-intensive and difficult so that the number of blocks found each day by miners remains steady. Individual blocks must contain a <a href="/what-is-proof-of-work/">proof of work</a> to be considered valid. This proof of work is verified by other Bitcoin nodes each time they receive a block. Bitcoin uses the <a href="/what-is-hashcash/">hashcash</a> proof-of-work function.
<p>The primary purpose of mining is to allow Bitcoin nodes to reach a secure, tamper-resistant consensus. Mining is also the mechanism used to introduce Bitcoins into the system: Miners are paid any transaction fees as well as a "subsidy" of newly created coins.
<p>This both serves the purpose of disseminating new coins in a decentralized manner as well as motivating people to provide security for the system.
<p>Bitcoin mining is so called because it resembles the mining of other commodities: it requires exertion and it slowly makes new currency available at a rate that resembles the rate at which commodities like gold are mined from the ground.
<h2 id="wipow">What is Proof of Work?</h2>
<center><img src="/images/what-is-proof-of-work.png" width="700" height="auto">
<a href="/images/what-is-proof-of-work-high-resolution.png" target="_blank">Visualize and Download High-Resolution Infographic</a></center></center>
<p>A <a href="/what-is-proof-of-work/">proof of work</a> is a piece of data which was difficult (costly, time-consuming) to produce so as to satisfy certain requirements. It must be trivial to check whether data satisfies said requirements.
<p>Producing a proof of work can be a random process with low probability, so that a lot of trial and error is required on average before a valid proof of work is generated. Bitcoin uses the Hashcash proof of work.
<h2 id="md">What is Bitcoin Mining Difficulty?</h2>
<center><img src="/images/what-is-bitcoin-mining-difficulty.png" width="700" height="auto">
<a href="/images/what-is-bitcoin-mining-difficulty-high-resolution.png" target="_blank">Visualize and Download High-Resolution Infographic</a></center>
<h3 id="tcdp">The Computationally-Difficult Problem</h3>
<p>Bitcoin mining a block is difficult because the SHA-256 hash of a block's header must be lower than or equal to the target in order for the block to be accepted by the network.
<p>This problem can be simplified for explanation purposes: The hash of a block must start with a certain number of zeros. The probability of calculating a hash that starts with many zeros is very low, therefore many attempts must be made. In order to generate a new hash each round, a nonce is incremented. See Proof of work for more information.
<h3 id="difficulty">The Bitcoin Network Difficulty Metric</h3>
<p>The <a href="/what-is-bitcoin-mining-difficulty/">Bitcoin mining network difficulty</a> is the measure of how difficult it is to find a new block compared to the easiest it can ever be. It is recalculated every 2016 blocks to a value such that the previous 2016 blocks would have been generated in exactly two weeks had everyone been mining at this difficulty. This will yield, on average, one block every ten minutes.
<p>As more miners join, the rate of block creation will go up. As the rate of block generation goes up, the difficulty rises to compensate which will push the rate of block creation back down. Any blocks released by malicious miners that do not meet the required difficulty target will simply be rejected by everyone on the network and thus will be worthless.
<h3 id="bw">The Block Reward</h3>
<p>When a block is discovered, the discoverer may award themselves a certain number of bitcoins, which is agreed-upon by everyone in the network. Currently this bounty is 25 bitcoins; this value will halve every 210,000 blocks. See Controlled Currency Supply.
<p>Additionally, the miner is awarded the fees paid by users sending transactions. The fee is an incentive for the miner to include the transaction in their block. In the future, as the number of new bitcoins miners are allowed to create in each block dwindles, the fees will make up a much more important percentage of mining income.
